body {
    background-image: url('../img/background_image.jpeg');
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-family: 'Lobster', cursive;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-item {
    font-family: 'Pacifico', cursive;
    color: rgb(44, 35, 35);
    font-size: 1.7em;
    margin: 0px 20px 0px 20px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-item:hover {
    color: rgb(44, 35, 35);
    text-decoration: none;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
    padding: 5px 5px 5px 5px;
}

.home-picture-line {
    width: 1400px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.home-picture {
    width: 650px;
    height: 380px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    overflow: hidden;
}

.home-picture:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.selected-color {
    -webkit-filter: grayscale(0) !important;
    filter: grayscale(0) !important;
}

span {
    position: absolute;
    opacity: 0;
    width: 200px;
    height: 70px;
    border-radius: 12px;
    background-color: rgb(27, 25, 25);
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Pacifico', cursive;
    padding-top: 15px;
    margin-top: 10px;
}

.span2 {
    width: 450px;
    height: 110px !important;
    padding-top: 5px;
}

img:hover+span {
	opacity: 1;
}

span:hover {
    opacity: 1;
    background-color: rgb(92, 102, 114);
}

span a {
    color: #FFFFFF;
}

span a:hover {
    color:#FFFFFF;
    text-decoration: none;
}

.content {
    background-color: rgba(128,128,128, 0.9);
    font-family: 'Pacifico', cursive;
    color: #FFFFFF;
    font-size: 1.2em;
    text-align: center;
    width: 450px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.content-up {
    position: absolute;
    top: 200px;
    opacity: 0;
}

.content-down {
    position: absolute;
    top: 650px;
    opacity: 0;
}

.home-picture:hover span {
    opacity: 1;
}
.show {
    opacity: 1 !important;
}

fieldset {
	border: medium none !important;
	min-width: 100%;
    width: 100%;
}

select {
    width: 98%;
}

input, select {
    font-size: 0.6em;
    color: grey;
}

form {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.submit {
    position: absolute;
    top: 30%;
    right: 10%;
    height: 70px;
    width: 100px;
    font-size: 1em;
}


@media screen and (max-width: 1200px) {
    .home-picture-line {
        width: 1000px;
        height: 400px;
    }
    .home-picture {
        width: 430px;
        height: 330px;
    }
    .content {
        font-size: 1em;
        text-align: center;
        width: 350px;
    }
    .span2 {
        width: 400px;
        height: 110px !important;
        padding-top: 5px;
    }

    .content-down {
        position: absolute;
        top: 580px;
        opacity: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    .home-picture-line {
        width: 920px;
        height: 400px;
        justify-content: center
    }
    .home-picture {
        width: 430px;
        height: 330px;
        margin: 0px 5px 0px 5px;
    }
    .menu-item {
        font-size: 1.4em;
    }
  }

  @media screen and (max-width: 900px) {
    .home-picture-line {
        width: 80%;
        height: 780px;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
    }
    .home-picture {
        width: 500px;
        height: 380px;
        margin: 10px 5px 10px 5px;
    }
    span {
        width: 175px;
        height: 50px;
        font-size: 1em;
        padding-top: 10px;
    }

    h1 {
        margin: 10px 0px 0px 0px;
    }
    .menu-item {
        font-size: 0;
    }

    .content {
        width: 400px;
        font-size: 1.3em;
    }

    .content1 {
        position: absolute;
        top: 20%;
    }

    .content2 {
        position: absolute;
        top: 55%;
    }

    .content3 {
        position: absolute;
        top: 90%;
    }

    .content4 {
        position: relative;
        margin-top: 70%;
    }

    .submit {
        top: 40%;
    }


    span {
        opacity: 1;
        height: 35px;
        padding-top: 5px;
        margin-top: 5px;
    }

    .content4 {
        position: absolute;
        top: 800px;
    }
  }


  @media screen and (max-width: 700px) {
    .home-picture-line {
        width: 96%;
        height: 600px;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    .home-picture {
        width: 100%;
        height: 50%;
        margin: 10px 5px 10px 5px;
    }
    span {
        width: 175px;
        height: 50px;
        font-size: 1em;
        padding-top: 10px;
    }

    h1 {
        margin: 10px 0px 0px 0px;
    }
    .menu-item {
        font-size: 0;
    }

    .content {
        width: 300px;
        font-size: 1em;
    }

    .content1 {
        position: absolute;
        top: 150px;
    }

    .content2 {
        position: absolute;
        top: 450px;
    }

    .content3 {
        position: absolute;
        top: 750px;
    }

    span {
        opacity: 1;
        height: 35px;
        padding-top: 5px;
        margin-top: 5px;
    }

    .content4 {
        top: 780px;
    }

    .submit {
        right: 2%;
    }
  }


  @media screen and (max-width: 340px) {
      .content4 {
          top: 820px;
      }
  }